<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <listeners>
        <listener class-name="extentReportListener.extentReport"/>
    </listeners>
    
    <test name="orangehrmTestCases">
        <classes>
            <class name="testClasses.login.loginTestCases"/>
            <class name="testClasses.adminModule.userManagementTestCases"/>
        </classes>
    </test>
</suite>
